USE [master]
GO
/****** Object:  Database [EMI-soiree]    Script Date: 12/19/2021 3:10:32 AM ******/
CREATE DATABASE [EMI-soiree]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMI-soiree', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EMI-soiree.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMI-soiree_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EMI-soiree_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMI-soiree].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMI-soiree]
GO
/****** Object:  Table [dbo].[participants]    Script Date: 12/19/2021 3:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[prenom] [varchar](50) NOT NULL,
	[idSoiree] [int] NOT NULL,
 CONSTRAINT [PK_participants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prix]    Script Date: 12/19/2021 3:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prix](
	[idSoiree] [int] NOT NULL,
	[idParticipants] [int] NOT NULL,
	[montant] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soirees]    Script Date: 12/19/2021 3:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soirees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lieu] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_soirees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[participants]  WITH CHECK ADD  CONSTRAINT [FK_participants_soirees] FOREIGN KEY([idSoiree])
REFERENCES [dbo].[soirees] ([id])
GO
ALTER TABLE [dbo].[participants] CHECK CONSTRAINT [FK_participants_soirees]
GO
ALTER TABLE [dbo].[prix]  WITH CHECK ADD  CONSTRAINT [FK_prix_participants] FOREIGN KEY([idParticipants])
REFERENCES [dbo].[participants] ([id])
GO
ALTER TABLE [dbo].[prix] CHECK CONSTRAINT [FK_prix_participants]
GO
ALTER TABLE [dbo].[prix]  WITH CHECK ADD  CONSTRAINT [FK_prix_soirees] FOREIGN KEY([idSoiree])
REFERENCES [dbo].[soirees] ([id])
GO
ALTER TABLE [dbo].[prix] CHECK CONSTRAINT [FK_prix_soirees]
GO
USE [master]
GO
